
#wrapper {
    position:relative;
    /*border:0px solid;*/
    max-width : 1000px;
    min-height: 510px;
    margin : auto;
    margin-top:30px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.data-content {
    position:relative;
    margin:auto;
    width:900px;
}

.clear {
    clear:both;
}

.sql_text {
    float:left;
}

.sql_answer {
    float:right;
}

.user-list{
    padding:10px;
    display:block;
}

.select_dec {
    text-align: center;
}

.add_pic {
    position:relative;
    margin-right: 20px;
    display:inline;
    width:292px;
    height:150px;
    float:right;
    background-image: url('../img/sign_event.png');
    background-repeat: no-repeat;
}

#pos_pic {
    background-image: url('../img/note.png');
}

#emp_pic {
    background-image: url('../img/hiring.png');
}

#emp_update_pic {
    background-image: url('../img/emp_update.png');
    height:260px;
}

#time_pic {
    background-image: url('../img/dates.png');
}

#hall_pic {
    background-image: url('../img/hall.png');
    width:250px;
    height:250px;
    margin-right: 64px;
    margin-top:-60px;
}

#add_hall_pic {
    background-image: url('../img/swing_dance.png');
    width:326px;
    height:211px;
    margin-right: 64px;
}

#cstmr_pic {
    background-image: url('../img/customer.png');
    width:256px;
    height:256px;
}

#welcome_section {
    font-family: Alef;
    font-size: 20px;
    width:50%;
    float:left;
}

#welcome_pic {
    background-image: url('../img/welcome-sign.png');
    background-repeat: no-repeat;
    position:relative;
    width:300px;
    height:225px;
    margin-left: 64px;
    float:left;
}

#big_event {
    background-image: url('../img/party.png');
    background-repeat: no-repeat;
    position:relative;
    margin:0px auto;
    width:300px;
    height:250px;
    display:block;
}

.black_gliph {
    color: black;
    background:none;
    border:none;
}

.span_right {
    margin-left:60%;
}

#side_title {
    margin-left:170px ;
    color:#4582EC;
    text-align: center;
}